//Import Libs
@import 'libs/bootstrap-reboot.min';
@import 'libs/bootstrap-grid.min';
@import 'libs/fonts';

//Import Base
@import 'base/variables';
@import 'base/mixins';

//Styles
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-display: swap;
}
    
.container {
    max-width: 1200px;
    margin: 0 auto;
}

ul, li, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

//Import Blocks
@import 'blocks/agents';
@import 'blocks/more';
@import 'blocks/benefits';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/button';
@import 'base/media';