.managers {
    position: relative;
    margin-top: 40px;
    height: 360px;
    background: url(../img/manager_bg.png) center (center / cover) no-repeat;
    &__item {
        padding-top: 80px;
        text-align: center;
    }
    &__wrapper {
        width: 100%;
        height: 100px;
    }
    &__img {
        width: 100px;
        height: 100px;
        text-align: center;
        margin: 0 auto;
        border: solid 1px #fff;
        border-radius: 50%;
        padding: 17px 20px;
    }
    &__title {  
        padding-top: 50px;
        font-size: 26px;
        font-weight: 700;
        color: rgb(255, 255, 255);
        line-height: 0.885;
    }
    &__dscr {
        width: 830px;
        margin: 0 auto;
        padding-top: 18px;
        font-size: 19px;
        font-weight: 500;
        color: rgb(255, 255, 255);
        line-height: 1.421;
    }
}