.order {
    width: 100%;
    position: relative;
    &__title {
        font-size: 27px;
        padding-bottom: 80px;
        text-align: center;
    }
    &__img {
        position: absolute;
        top:  63px;
        width: 96.7%;
        text-align: center;
        img {
            padding: 19px 20px;
            border-radius: 50%;
            border: solid 1px #ec644b;
            background-color: #fff;
        }
    }
    form {
        border: 1px solid #cecece;
        padding: 68px 120px 60px 120px;
        text-align: center;
        input {
            border: 1px solid #cecece;
            border-radius: 50px;
            padding: 12px 104px 12px 28px;
        }
    }
    &__btn {
        max-width: 1200px;
        width: 96.7%;
        text-align: center;
        position: absolute;
        top: 274px;
    }

}