.order {
    position: relative;
    &__title {
        padding-bottom: 20px;
        text-align: center;
    }
    &__img {
        width: 100px;
        height: 100px;
        text-align: center;
        margin: 0 auto;
        border: solid 1px #ec644b;
        border-radius: 50%;
        padding: 17px 20px;
        // &:after {
        //     content: '';
        //     position: absolute;
        //     display: block;
        //     right: 20px;
        //     top: 110px;
        //     width: 500px;
        //     height: 1px;
        //     background-color: rgb(194, 191, 191);
        // }
        // &:before {
        //     content: '';
        //     position: absolute;
        //     display: block;
        //     left: 20px;
        //     top: 110px;
        //     width: 500px;
        //     height: 1px;
        //     background-color: rgb(194, 191, 191);
        // }
    }
}