.order {
    position: relative;
    &__title {
        padding-bottom: 80px;
        text-align: center;
    }
    &__img {
        position: absolute;
        top:  66px;;
        left: 46%;
        width: 100px;
        height: 100px;
        text-align: center;
        margin: 0 auto;
        border: solid 1px #ec644b;
        border-radius: 50%;
        padding: 17px 20px;
        background-color: #fff;
        
    }
    form {
        border: 1px solid #cecece;
        padding: 68px 120px 60px 120px;
        text-align: center;
        input {
            border: 1px solid #cecece;
            border-radius: 50px;
            padding: 12px 104px 12px 28px;
        }
    }
    &__btn {
        position: absolute;
        left: 509px;
        top: 274px;
    }

}