.slider {
    position: relative;
    padding: 31px 130px;
    &__items {
        padding-top: 20px;
        margin: 0 auto;
        text-align: center;
        img {
            padding-bottom: 15px;
            margin: 0 auto;
        }
    }
    &__title {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.223;         
    }
    &__dscr {
        font-size: 16px;
        color: rgb(58, 58, 58);
        font-weight: 400;
        line-height: 1.223;
        text-align: center;        
        width: 617px;
        margin: 0 auto;
    }
}

.slick-arrow {
    background-color: rgba(255, 255, 255, 0);
    border: none;  
    img {
        width: 30px;
        height: 35px;
    }
}

.slick-prev {
    position: absolute;
    left: 37%;
    top: 60px;
    z-index: 1;
}

.slick-next {
    position: absolute;
    right: 37%;
    top: 60px;
}